<%= form_for(resturant) do |f| %>
  <% if resturant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resturant.errors.count, "error") %> prohibited this resturant from being saved:</h2>

      <ul>
      <% resturant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :food %>
    <%= f.text_field :food %>
  </div>

  <div class="field">
    <%= f.label :info %>
    <%= f.text_field :info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
